* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}



li {
    list-style-type: none;
}

/* .list1 {
    position: absolute;
    left: 100px;
}

.list2 {
    position: absolute;
    left: 200px;
}

.list3 {
    position: absolute;
    left: 300px;
}

.list4 {
    position: absolute;
    left: 400px;
}

.list5 {
    position: absolute;
    left: 500px;
} */
/* 
.list {
    margin-left: 200px;
} */
.image{
    background-image: url("https://pk.khaadi.com/media/catalog/product/e/e/eet23337_blue_2.jpg?width=300&height=&canvas=300:&quality=95&bg-color=255,255,255&fit=bounds");
    height:500px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
}
.image:hover{
    background-image: url("https://pk.khaadi.com/media/catalog/product/e/e/eet23341_yellow_2.jpg?width=300&height=&canvas=300:&quality=95&bg-color=255,255,255&fit=bounds");
}
.clip{
    clip-path: polygon(50% 0, 75% 0, 74% 24%);
    background-color: white;
    position: absolute;
    left:911px;
    top:70px;
    width:100px;
    height:100px;
}
.abc{
    position: relative;
}
.hero-img{
    background-image: url("https://pk.khaadi.com/media/wysiwyg/khaadi/01-01-main-banners/June-2023/PK/Desk-Web-Banner-getsetgo-0627-1920x825.jpg");
    height:30vh;
    background-size: cover;
    background-position: center;

}
.butt{
    padding: 15px 25px;
    background-color: transparent;
    border: none;
}

.boxes{
    background-color: black;
    height: 100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.box{
    height: 200px;
    width:200px;
    
}

.box1{
    background-color: red;
}
.box2{
    background-color:yellow;
}
.box3{
    background-color: green;
}
.btn:hover{
    cursor: pointer;
    background-color: black;
    color:white
}
.footer{
    height:100px;
    background-color: lightgray!important;
}